.ce-ai-content-paragraph {
    line-height: 1.6em;
    outline: none;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.ce-ai-content-paragraph[data-placeholder]:empty::before{
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

/** Show placeholder at the first paragraph if Editor is empty */
.codex-editor--empty .ce-block:first-child .ce-ai-content-paragraph[data-placeholder]:empty::before {
  opacity: 1;
}

.codex-editor--toolbox-opened .ce-block:first-child .ce-ai-content-paragraph[data-placeholder]:empty::before,
.codex-editor--empty .ce-block:first-child .ce-ai-content-paragraph[data-placeholder]:empty:focus::before {
  opacity: 0;
}

.ce-ai-content-paragraph p:first-of-type{
    margin-top: 0;
}

.ce-ai-content-paragraph p:last-of-type{
    margin-bottom: 0;
}
